
.py-6 {
	width: 500px;
}
  
.hero {
	background-color: #2C2C2C;
}
  
.card-body {
	background-color: #3C3C3C;
}
  
.card-body .input {
	background-color: #eeeeee;
	color: black;
}

.card-body .btn {
	margin-left: 8px;
}

.text-center {
	margin-left: 30px;
}

.login {
	width: 300px;
	height: 100px;
	background-color: #3C3C3C;
	border: 2px solid #8a8a8a;
	font-size: 30px;
	font-weight: bold;
}

.hero div {
	margin-top: 200px;
}